@import url('https://fonts.cdnfonts.com/css/public-pixel');

.life-bar{
    font-family: 'Public Pixel';
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.life-bar-cont-main{
    border-image-source: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%276%27 height=%276%27><path d=%27M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z%27 fill=%27%23cccccc%27 /></svg>");
    border-image-width: 6px;
    border-radius: 20px;
    height: 75px;
    background-color: #140133;
    border-image-slice: 2;
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.life-bar-cont-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.life-bar-cont-hp{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.life-bar-hp-progress{
    margin: 20px 5px 10px 5px;
    border-radius: 3px;
    border : 2px solid white;
    width: 90%;
    height: 20px;
}

.life-bar-type-left{
    height: 50px;
    width: 50px;
    border-radius: 5px 0 0 5px;
    border : 6px solid #cccccc;
    border-image-source: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%276%27 height=%276%27><path d=%27M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z%27 fill=%27%23cccccc%27 /></svg>");
    border-image-width: 6px;
    border-image-slice: 2;
    background-color: #F2EB49;
}

@keyframes life-bar-anim{
    0%{
        width: --satrt-width-life-bar;
    }
    100%{
        width: --end-width-life-bar;
    }

}